<html>
    <head>
        <link rel="stylesheet" href="{{ asset('bundles/xsharesecurity/css/registration.css') }}" type="text/css"/>
    </head>
    <body>
        <div class="forgot_email" >
        <p>{% trans %}Hello{% endtrans %},<br/> {% trans %}Your password was modified{% endtrans %}.</p>
        <i>{% trans %}This is your connect data{% endtrans %}:</i>
        <br />
        <i>{% trans %}Username{% endtrans %}:</i><b>{{ user.username }}</b>
        <br/>
        <i>{% trans %}Password{% endtrans %}:</i><b>{{ password }}</b>
        </div>
    </body>
</html>