<div class="flags">
    <ul>
        <li>
            <a href="{{ path('change_language', {'new_locale' : 'ro'}) }}">
                <img src="{{ asset('images/ro_RO.png') }}" alt="Romanian" />
            </a>
        </li>
        <li>
            <a href="{{ path('change_language', {'new_locale' : 'en'}) }}">
                <img src="{{ asset('images/en_EN.png') }}" alt="English" />
            </a>
        </li>
    </ul>
</div>